body {
	margin: 0;

}

/*header section*/

#avatar {
	height: 120px;
	width: 120px;
}

#name-h1 {
	margin: 25px 0 0 0;
	font-size: 4.5rem;
	font-family: "Goldman", cursive;
	color: #637373;
	font-weight: 400;
}

#description-h2 {
	margin-top: 0;
	color: #6d6e70;
	font-family: "Goldman", sans-serif;
	font-size: 2rem;
}

/*bold span*/

.bold {
	font-weight: bold;
}

#header {
	text-align: center;
	margi: 0;
	background: #d6e0f0;
}